MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=false
MINIO_BUCKET=logistics-lake
MINIO_DATASET_PREFIX=raw/kaggle/yogape/logistics-operations-database

KAGGLE_DATASET_HANDLE=yogape/logistics-operations-database
KAGGLEHUB_CACHE=.cache/kagglehub
